body {
    background-color: #F7F5FB;
}

.box1 {
    width: 830px;
    height: 540px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    margin-top: 70px;

}

.div {
    margin-left: -810px;

}


.image2,
.image3,
.image4,
.image5,
.image6 {
    position: absolute;
}

.image1 {
    position: absolute;
    margin-top: 15px;
}

.image2 {
    margin-top: 70px;
}

.image3 {
    margin-top: 45px;
    margin-left: -10px;
}

.image4 {
    margin-left: 130px;
    margin-top: 20px;
}

.image5 {
    margin-top: 65px;
    margin-left: 310px;
}

.image6 {
    margin-top: 100px;
    margin-left: 90px;
}


.text {
    position: absolute;
}

.text1 {
    font-size: 36px;
    margin-left: 430px;
    text-align: left;
    margin-top: 140px;
}

.text2 {
    font-size: 20px;
    margin-left: 430px;
    text-align: left;
    color: rgba(144, 143, 143, 1);
    margin-top: -10px;
}

.input {
    Width: 320px;
    Height: 50px;
    border-radius: 10px;
    color: rgba(179, 179, 179, 1);
    border: 1px solid rgba(179, 179, 179, 1);
    margin-left: 380px;
    margin-top: 350px;
    padding-left: 30px;
    font-size: 17px;
}

.button {
    Width: 355px;
    Height: 50px;
    border-radius: 10px;
    margin-left: 380px;
    background-color: rgba(26, 84, 255, 1);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    margin-top: 20px;

}